<!--<h5>Raised Buttons</h5>-->
<!--<br><br>-->
<!--<div>-->
<!--  <button mat-raised-button color="primary" (click)="getProducts()">Get Products</button><br><br>-->
<!--  <input type="number" #productID><br><br>-->
<!--  <button mat-raised-button color="primary" (click)="getProductById(productID.valueAsNumber)">Get Product By Id</button>-->

<!--  <button mat-raised-button color="primary">Add Product</button>-->
<!--  <button mat-raised-button color="primary">Update Product</button>-->
<!--  <button mat-raised-button color="primary">Delete Product</button>-->
<!--</div><br><br>-->
<!--<div>-->
<!--  <table>-->
<!--    <thead>-->
<!--    <th>ID</th>-->
<!--    <th>Product Name</th>-->
<!--    <th>Price</th>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let product of products">-->
<!--      <td>{{product.productName}}</td>-->
<!--      <td>{{product.price}}</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->

<!--<form #addForm="ngForm" (ngSubmit)="addProduct(addForm)">-->
<!--  <div>-->
<!--    <input type="text"  placeholder="productName" name="productName" ngModel>-->
<!--  </div>-->
<!--  <div>-->
<!--    <input type="text"  placeholder="price" name="price" ngModel>-->
<!--  </div>-->
<!--  <div>-->
<!--    <button mat-raised-button color="primary" type="submit">Submit</button>-->
<!--  </div>-->
<!--</form>-->
<!--<div>-->
<!--  {{addForm.value}}-->
<!--  {{productById.price}}-->
<!--  {{productById.productName}}-->
<!--</div>-->

<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div class="col mb-5" *ngFor="let product of products">
        <div class="card h-100">
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{product.productName}}</h5>
              <!-- Product reviews-->
              <div class="d-flex justify-content-center small text-warning mb-2">
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>
              <!-- Product price-->
              ${{product.price}}
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>







